.main-cont{
    padding: 2%;
}

h1,h2,h3{
    text-align: center;
}

.sec-1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    font-size: 1.5em;
    color: rgb(7, 110, 76);
}

.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid black;
    background-color: rgb(231, 198, 148);
}